In [1]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

# Define a custom function
def square(x):
    return x ** 2

# Apply the function to each element of a DataFrame column using apply()
df['A_squared'] = df['A'].apply(square)

print(df)

   A   B  A_squared
0  1   6          1
1  2   7          4
2  3   8          9
3  4   9         16
4  5  10         25

In [2]:
# Define a custom function that takes two arguments
def add_columns(x, y):
    return x + y

# Apply the function to two columns using apply() and a lambda function
df['Sum'] = df.apply(lambda row: add_columns(row['A'], row['B']), axis=1)

In [3]:
df

   A   B  A_squared  Sum
0  1   6          1    7
1  2   7          4    9
2  3   8          9   11
3  4   9         16   13
4  5  10         25   15

In [4]:
# Define a custom function that takes a row as input
def add_columns(row):
    return row['A'] + row['B']

In [5]:
# Apply the function to two columns using apply() without lambda
df['Sum'] = df[['A','B']].apply(add_columns, axis=1)

In [6]:
df

   A   B  A_squared  Sum
0  1   6          1    7
1  2   7          4    9
2  3   8          9   11
3  4   9         16   13
4  5  10         25   15